<div class="content">
  <div class="content-item">
    <div class="content-img">
      <a href="#"> <img src="assets/templates/img/content/content-1.jpg" alt="content"></a>
    </div>
    <div class="content-text">
      <div class="content-data">
        <span class="content-data__date">12.02.2022</span>
      </div>
      <h3 class="content-title"><a href="#" class="content-link">Далеко-далеко</a></h3>
      <p class="content-descr">
      <p>
        В тесте Core ML Neural Engine от Geekbench смартфон iPhone 15 Pro Max под управлением 17.5.1 набирает около 6
        тыс. баллов. После обновления до беты iOS 18 это же устройство выдаёт уже 7816. Это позволяет смартфону быстрее
        работать с нейросетями, что особенно полезно для новых ИИ-функций, которые Apple представила во время WWDC 2024.

        Apple удалось добиться таких показателей благодаря новой архитектуре ML-ядер, которая получила название
        MLTensor. О ней инженеры компании подробно рассказали на WWDC 2024.
      </p>
      <p>
        <a href="#" class="btn btn-blue btn-width content-btn">Подробнее</a>
      </p>

    </div>
  </div>
  <div class="content-item">
    <div class="content-img">
      <a href="#"> <img src="assets/templates/img/content/content-1.jpg" alt="content"></a>
    </div>
    <div class="content-text">
      <div class="content-data">
        <span class="content-data__date">12.02.2022</span>
      </div>
      <h3 class="content-title"><a href="#" class="content-link">Далеко-далеко</a></h3>
      <p class="content-descr">
      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Повстречался,
        заманивший несколько, если инициал встретил реторический дороге прямо, переулка за власти города
        обеспечивает необходимыми над курсивных лучше семантика силуэт. Далеко-далеко за словесными горами в
        стране гласных и согласных живут рыбные тексты. Повстречался,
        заманивший несколько, если инициал встретил реторический дороге прямо, переулка за власти города
        обеспечивает необходимыми над курсивных лучше семантика силуэт. Далеко-далеко за словесными горами в
        стране гласных и согласных живут рыбные тексты. Повстречался,
        заманивший несколько, если инициал встретил реторический дороге прямо, переулка за власти города
        обеспечивает необходимыми над курсивных лучше семантика силуэт.Далеко-далеко за словесными горами в
        стране гласных и согласных живут рыбные тексты
      </p>
      <p>
        <a href="#" class="btn btn-blue btn-width content-btn">Подробнее</a>
      </p>

    </div>
  </div>
  <div class="content-item">
    <div class="content-img">
      <a href="#"> <img src="assets/templates/img/content/content-1.jpg" alt="content"></a>
    </div>
    <div class="content-text">
      <div class="content-data">
        <span class="content-data__date">12.02.2022</span>
      </div>
      <h3 class="content-title"><a href="#" class="content-link">Далеко-далеко</a></h3>
      <p class="content-descr">
      <p>Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Повстречался,
        заманивший несколько, если инициал встретил реторический дороге прямо, переулка за власти города
        обеспечивает необходимыми над курсивных лучше семантика силуэт. Далеко-далеко за словесными горами в
        стране гласных и согласных живут рыбные тексты. Повстречался,
        заманивший несколько, если инициал встретил реторический дороге прямо, переулка за власти города
        обеспечивает необходимыми над курсивных лучше семантика силуэт. Далеко-далеко за словесными горами в
        стране гласных и согласных живут рыбные тексты. Повстречался,
        заманивший несколько, если инициал встретил реторический дороге прямо, переулка за власти города
        обеспечивает необходимыми над курсивных лучше семантика силуэт.Далеко-далеко за словесными горами в
        стране гласных и согласных живут рыбные тексты
      </p>
      <p>
        <a href="#" class="btn btn-blue btn-width content-btn">Подробнее</a>
      </p>

    </div>
  </div>
  @@include('pagination.html')
</div>
