<footer class="footer">
  <div class="container">
    <div class="row footer-row">
      <div class="footer-item">
        <div class="footer-logo">
          <a href="" class="footer-logo__link">Новости it</a>
        </div>
      </div>
      <div class="footer-item">
        <div class="footer-social">
          <h3 class="footer-title">Социальные сети</h3>
          <ul class="list-reset footer-social__list">
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#ok"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social__item">
              <a href="#" class="footer-social__link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="footer-nav">
        <h3 class="footer-title">Последние новости</h3>
        <ul class="list-reset footer-nav__list">
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>
          <li class="footer-nav__item"><a href="#" class="footer-nav__link">Главная</a></li>

        </ul>
      </nav>
    </div>
  </div>
  </div>
</footer>
