<header class="header">
  <div class="container">
    <div class="header-row">
      <div class="header-item">
        <div class="header-logo">
          <a href="#" class="header-logo__link">Новости it</a>
        </div>
      </div>
      <nav class="nav">
        <ul class="list-reset nav-list">
          <li class="nav-item"><a href="#" class="nav-link active">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
        </ul>
      </nav>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <div class="header-item">
        <div class="search-wrap">
          <div class="search">
            <button>
              <svg class="icons search__icons">
                <use xlink:href="assets/templates/img/sprite.svg#search"></use>
              </svg>
            </button>
          </div>
          <div class="search-field">
            <form action="" autocomplete="off">
              <input type="text" name="search" placeholder="Поиск по сайту..." />
            </form>
          </div>
        </div>
      </div>
      <div class="header-item">
        <div class="header-social">
          <ul class="list-reset header-social__list">
            <li class="header-social__item">
              <a href="#" class="header-social__item-link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#vk"></use>
                </svg>
              </a>
            </li>
            <li class="header-social__item">
              <a href="#" class="header-social__item-link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#ok"></use>
                </svg>
              </a>
            </li>
            <li class="header-social__item">
              <a href="#" class="header-social__item-link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#telegram"></use>
                </svg>
              </a>
            </li>
            <li class="header-social__item">
              <a href="#" class="header-social__item-link">
                <svg class="icons">
                  <use xlink:href="assets/templates/img/sprite.svg#youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
