<div class="pagination">
  <ul class="list-reset pagination-list">
    <li class="pagination-item"><a href="#" class="pagination-link">Назад</a></li>
    <li class="pagination-item"><a href="#" class="pagination-link active">1</a></li>
    <li class="pagination-item"><a href="#" class="pagination-link">2</a></li>
    <li class="pagination-item"><a href="#" class="pagination-link">3</a></li>
    <li class="pagination-item"><a href="#" class="pagination-link">4</a></li>
    <li class="pagination-item"><a href="#" class="pagination-link">Вперёд</a></li>
  </ul>
</div>
