<aside class="sidebar">
  <h3 class="sidebar-title">Категории</h3>
  <div class="sidebar-witget">
    <ul class="list-reset sidebar-witget__list">
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
    </ul>
  </div>
  <h3 class="sidebar-title">Категории</h3>
  <div class="sidebar-witget">
    <ul class="list-reset sidebar-witget__list">
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
    </ul>
  </div>
  <h3 class="sidebar-title">Категории</h3>
  <div class="sidebar-witget">
    <ul class="list-reset sidebar-witget__list">
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
      <li class="sidebar-witget__item"><a href="#" class="sidebar-witget__link">Главная</a></li>
    </ul>
  </div>
</aside>
