.sidebar {
  width: 100%;
  max-width: 400px;
  &-title {
    background-color: var(--blue);
    color: var(--white);
    padding: 12px 20px;
    border-radius: 2px;
  }
  &-witget {
    padding: 20px;
    border: 1px solid #f2f2f2;
    margin-bottom: 20px;
    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
    }
    &__link {
      transition: color 0.2s ease-in-out;
      font-size: 17px;
      &:hover {
        color: var(--red);
      }
    }
  }
}
